[submodule "src/ros_ws/src/mavros"]
	path = src/ros_ws/src/mavros
	url = https://github.com/dakre21/mavros.git
[submodule "src/fsw/ardupilot"]
	path = src/fsw/ardupilot
	url = https://github.com/dakre21/ardupilot.git
