[Unit]
Description=Docker ROS Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/bin/udevadm settle
ExecStart=/home/pi/optical_flow_disturbance_rejection/scripts/run_docker.sh

[Install]
WantedBy=multi-user.target
